@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@300&family=Rethink+Sans&display=swap');
        *{
            font-family: rethink sans;
        }
        body{
            /* background-color: rgb(252, 220, 252); */
            background-color: rgb(247, 242, 253);
            margin: 0px;
        }
        div.heading{
            padding: 20px;
            background-color: rgb(205, 151, 255);
            color: rgb(78, 0, 78);
        }
        a{
            text-decoration: none;
        }
        table{
            font-size: 20px;
        }
        #wm{
            font-family: rethink sans;
            font-size: 20px;
            font-weight: 900;
        }
        #title{
            font-family: rethink sans;
            font-size: 32px;
            font-weight: 900;
            margin: 20vw;
            color:rgb(78, 0, 78);
            
        }
        h2{
            color: rgb(78, 0, 78);
            text-align: center;
        }
        #submit{
            padding: 4px 10px 4px 10px;
            border-radius: 15px;
            border: none;
            background-color: rgb(205, 151, 255);
            color: rgb(78, 0, 78);
        }
        #submit:hover{
            background-color: greenyellow;
            cursor: pointer;
            color: black;
        }
        #cancel{
            padding: 4px 10px 4px 10px;
            border-radius: 15px;
            border: none;
            background-color: rgb(205, 151, 255);
            color: rgb(78, 0, 78);
        }
        #cancel:hover{
            background-color: red;
            cursor: pointer;
            color: white;
        }