@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@300&family=Rethink+Sans&display=swap');
body{
    background-color: rgb(247, 242, 253);
}
.nav-bg{
    background-color: rgb(205, 151, 255);
}
.nav-title{
    font-family: Rethink Sans;
    color: rgb(78, 0, 78);
    font-weight: bold;
}
#special-features{
    background-color: yellow;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    transition: border 1s ease-in-out;
}
#special-features:hover{
    border: 5px rgb(255, 132, 0) solid;
    color: black;
}
#container{
    display: flex;
    flex-direction: row;
}
#homeimg{
    align-items: left;
    width: 720px;
    height: 310px;
}
.box{
    width: 800px;
    height: 400px;
    padding: 40px;
}
h1.purple-head{
    font-family: 'Rethink Sans';
    font-weight: 900;
    color: purple;
    font-size: 50px;
}
p.welcome-para{
    font-family: Poppins;
    color: rgb(23, 23, 23);
    font-weight: 600;
    font-size: 20px;
}
button.btn-roadmap{
    background-color: rgb(255, 255, 255);
    padding: 10px 30px 10px 30px;
    border: none;
    color: purple;
    font-weight: 900px;
    font-family: Rethink Sans;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.8s ease-in-out;
    /* transition: color 0.8s ease-in-out; */
}
button.btn-roadmap:hover{
    cursor: pointer;
    background-color: purple;
    color: lavender;
    /* outline-style: solid;
    outline-offset: 1px; */
}

/*_______________________________________________________*/ 
#q{
    font-family: rethink sans;
    color: rgb(78, 0, 78);
    font-weight: 900;
    text-align: center;
}
.description{
    display: flex;
}
.card-head{
    display: flex;
    background-color: white;
}
.card-desc{
	background-color: lavender  ;
	width: 500px;
	height: 234px;
	/* height: auto; */
	margin: 20px;
    border: 1px solid purple;
	border-radius: 2px;
}
.card-logo img{
    padding: 15px;
    width: 100px;
    height: 100px;
}

.capsule {
	/* padding: top right bottom left; */
	padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.capsule span {
    vertical-align: middle;
	font-family: Poppins;
    font-weight: 900;
	border: none;
	background-color: rgb(241, 221, 255);
	padding: 3px 8px 3px 8px;
	font-size: 10px;
	border-radius: 10px;
	border: 1px solid rgb(223, 160, 223);
}
.content {
	padding: 10px;
	font-family: Rethink Sans;
    font-weight: 500;
}
.content p {
	font-size: 14px;
}
span a{
    text-decoration: none;
    color: black;
}
span a:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}
